body {
  background-image: url(img/bgc.png);
}
body .main {
  margin-top: 100px;
  width: 856px;
  height: 594px;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
body .main .b1 {
  margin: 0;
  border: 1px solid #939393;
  margin-bottom: 1px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #110e7c;
}
body .main .b2,
body .main .b3,
body .main .b4,
body .main .b5,
body .main .b6,
body .main .b7,
body .main .b8,
body .main .b9,
body .main .b10,
body .main .b11,
body .main .b12,
body .main .b13,
body .main .b14,
body .main .b15,
body .main .b16,
body .main .b17,
body .main .b18,
body .main .b19 {
  margin: 0;
  border: 1px solid #939393;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #110e7c;
  border-left: 0px;
  margin-left: -4px;
  margin-bottom: 1px;
}
body .main .b20 {
  margin: 0;
  border: 1px solid #939393;
  margin-bottom: 1px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #110e7c;
  border-top: 0px;
  margin-top: -6px;
  vertical-align: top;
}
body .main .b21,
body .main .b22,
body .main .b23,
body .main .b24,
body .main .b25,
body .main .b26,
body .main .b27,
body .main .b28,
body .main .b29,
body .main .b30,
body .main .b31,
body .main .b32,
body .main .b33,
body .main .b34,
body .main .b35,
body .main .b36,
body .main .b37,
body .main .b38 {
  margin: 0;
  border: 1px solid #939393;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #110e7c;
  border-left: 0px;
  margin-bottom: 1px;
  border-top: 0px;
  margin-left: -4px;
  margin-top: -5px;
  vertical-align: top;
}
body .main .b39,
body .main .b58,
body .main .b77,
body .main .b96,
body .main .b115,
body .main .b134,
body .main .b153,
body .main .b172,
body .main .b191,
body .main .b210,
body .main .b229,
body .main .b248 {
  margin: 0;
  border: 1px solid #939393;
  margin-bottom: 1px;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #110e7c;
  border-top: 0px;
  vertical-align: top;
  margin-top: 0.1px;
}
body .main .b40,
body .main .b41,
body .main .b42,
body .main .b43,
body .main .b44,
body .main .b45,
body .main .b46,
body .main .b47,
body .main .b48,
body .main .b49,
body .main .b50,
body .main .b51,
body .main .b52,
body .main .b53,
body .main .b54,
body .main .b55,
body .main .b56,
body .main .b57,
body .main .b59,
body .main .b60,
body .main .b61,
body .main .b62,
body .main .b63,
body .main .b64,
body .main .b65,
body .main .b66,
body .main .b67,
body .main .b68,
body .main .b69,
body .main .b70,
body .main .b71,
body .main .b72,
body .main .b73,
body .main .b74,
body .main .b75,
body .main .b76,
body .main .b78,
body .main .b79,
body .main .b80,
body .main .b81,
body .main .b82,
body .main .b83,
body .main .b84,
body .main .b85,
body .main .b86,
body .main .b87,
body .main .b88,
body .main .b89,
body .main .b90,
body .main .b91,
body .main .b92,
body .main .b93,
body .main .b94,
body .main .b95,
body .main .b97,
body .main .b98,
body .main .b99,
body .main .b100,
body .main .b101,
body .main .b102,
body .main .b103,
body .main .b104,
body .main .b105,
body .main .b106,
body .main .b107,
body .main .b108,
body .main .b109,
body .main .b110,
body .main .b111,
body .main .b112,
body .main .b113,
body .main .b114,
body .main .b116,
body .main .b117,
body .main .b118,
body .main .b119,
body .main .b120,
body .main .b121,
body .main .b122,
body .main .b123,
body .main .b124,
body .main .b125,
body .main .b126,
body .main .b127,
body .main .b128,
body .main .b129,
body .main .b130,
body .main .b131,
body .main .b132,
body .main .b133,
body .main .b135,
body .main .b136,
body .main .b137,
body .main .b138,
body .main .b139,
body .main .b140,
body .main .b141,
body .main .b142,
body .main .b143,
body .main .b144,
body .main .b145,
body .main .b146,
body .main .b147,
body .main .b148,
body .main .b149,
body .main .b150,
body .main .b151,
body .main .b152,
body .main .b154,
body .main .b155,
body .main .b156,
body .main .b157,
body .main .b158,
body .main .b159,
body .main .b160,
body .main .b161,
body .main .b162,
body .main .b163,
body .main .b164,
body .main .b165,
body .main .b166,
body .main .b167,
body .main .b168,
body .main .b169,
body .main .b170,
body .main .b171,
body .main .b173,
body .main .b174,
body .main .b175,
body .main .b176,
body .main .b177,
body .main .b178,
body .main .b179,
body .main .b180,
body .main .b181,
body .main .b182,
body .main .b183,
body .main .b184,
body .main .b185,
body .main .b186,
body .main .b187,
body .main .b188,
body .main .b189,
body .main .b190,
body .main .b192,
body .main .b193,
body .main .b194,
body .main .b195,
body .main .b196,
body .main .b197,
body .main .b198,
body .main .b199,
body .main .b200,
body .main .b201,
body .main .b202,
body .main .b203,
body .main .b204,
body .main .b205,
body .main .b206,
body .main .b207,
body .main .b208,
body .main .b209,
body .main .b211,
body .main .b212,
body .main .b213,
body .main .b214,
body .main .b215,
body .main .b216,
body .main .b217,
body .main .b218,
body .main .b219,
body .main .b220,
body .main .b221,
body .main .b222,
body .main .b223,
body .main .b224,
body .main .b225,
body .main .b226,
body .main .b227,
body .main .b228,
body .main .b230,
body .main .b231,
body .main .b232,
body .main .b233,
body .main .b234,
body .main .b235,
body .main .b236,
body .main .b237,
body .main .b238,
body .main .b239,
body .main .b240,
body .main .b241,
body .main .b242,
body .main .b243,
body .main .b244,
body .main .b245,
body .main .b246,
body .main .b247 {
  margin: 0;
  border: 1px solid #939393;
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #110e7c;
  border-left: 0px;
  margin-bottom: 1px;
  border-top: 0px;
  margin-left: -4px;
  vertical-align: top;
  margin-top: 0.2px;
}
body .main .b67,
body .main .b85,
body .main .b87,
body .main .b103,
body .main .b107,
body .main .b121,
body .main .b127,
body .main .b141,
body .main .b145,
body .main .b161,
body .main .b163,
body .main .b181 {
  background-color: #3db8f5;
}
body .main .b7,
body .main .b8,
body .main .b12,
body .main .b13,
body .main .b25,
body .main .b26,
body .main .b32,
body .main .b33,
body .main .b43,
body .main .b44,
body .main .b52,
body .main .b53,
body .main .b62,
body .main .b72,
body .main .b29,
body .main .b47,
body .main .b48,
body .main .b49,
body .main .b65,
body .main .b66,
body .main .b68,
body .main .b69,
body .main .b83,
body .main .b84,
body .main .b86,
body .main .b88,
body .main .b89,
body .main .b101,
body .main .b102,
body .main .b104,
body .main .b105,
body .main .b106,
body .main .b108,
body .main .b109,
body .main .b119,
body .main .b120,
body .main .b122,
body .main .b123,
body .main .b125,
body .main .b126,
body .main .b128,
body .main .b129,
body .main .b139,
body .main .b140,
body .main .b142,
body .main .b143,
body .main .b144,
body .main .b146,
body .main .b147,
body .main .b159,
body .main .b160,
body .main .b162,
body .main .b164,
body .main .b165,
body .main .b179,
body .main .b180,
body .main .b182,
body .main .b183,
body .main .b199,
body .main .b200,
body .main .b201,
body .main .b219,
body .main .b176,
body .main .b186,
body .main .b195,
body .main .b196,
body .main .b204,
body .main .b205,
body .main .b215,
body .main .b216,
body .main .b222,
body .main .b223,
body .main .b235,
body .main .b236,
body .main .b240,
body .main .b241 {
  background-color: #d1e3ec;
}
body .main .b21,
body .main .b37,
body .main .b41,
body .main .b55,
body .main .b59,
body .main .b75,
body .main .b97,
body .main .b113,
body .main .b117,
body .main .b131,
body .main .b135,
body .main .b151,
body .main .b173,
body .main .b189,
body .main .b193,
body .main .b207,
body .main .b211,
body .main .b227 {
  background-color: #d1e3ec;
}
