body {
  height: 1000px;
}
.conteiner {
  width: 110%;
  height: 100%;
  margin: 0 auto;
}
.z {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  font-size: 45px;
  font-family:"Arvo";
  color: rgb(59, 63, 106);
  line-height: 1.833;
  text-align: center;
  padding-bottom: 130px;
  -moz-transform: matrix( 0.66262475515344,0,0,0.66926246572999,0,0);
  -webkit-transform: matrix( 0.66262475515344,0,0,0.66926246572999,0,0);
  -ms-transform: matrix( 0.66262475515344,0,0,0.66926246572999,0,0);
}
.op {
   width: 22%;
   height: 400px;
   padding: 55px 5px;
   display: inline-block;
   margin: 0 auto;
   vertical-align: middle;
}
.one {
  background: url(img/pic1.png) top center no-repeat;
}
.two {
  background: url(img/pic2.png) top center no-repeat;
}
.three {
  background: url(img/pic3.png) top center no-repeat;

}
.four {
  background: url(img/pic4.png) top center no-repeat;
}
.Bold {
  margin: 10px;
  font-size: 22px;
  font-family: "Arvo";
  color: rgb(59, 63, 106);
  text-align: center;
  padding-top: 100px;
}
.Line {
  margin: 10px;
  font-size: 20px;
  font-family: "NotoSans";
  color: rgb(104, 108, 139);
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px){
  .op {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px){
  .op {
    width: 40%;
  }
}