.container {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 460px;
}
.box0 {
  position: absolute;
  width: 1100px;
  height: 460px;
  background: url(img/car.png) no-repeat top center;
  z-index: 1; te;
} 
.box {
  position: absolute;
  width: 1100px;
  height: 350px;
  background: url(img/car1.png) no-repeat top center;
  z-index: 2;te;
}
.box1 {
  position: absolute;
  width: 1100px;
  height: 210px;
  background: url(img/car2.png) no-repeat;
  bottom: -8px;
  left: 20px;
  z-index: 3;te;
}
.box2 {
  position: absolute;
  width: 1100px;
  height: 460px;
  background: url(img/car4.png) no-repeat;
  left: 315px;
  top: 260px;
  z-index: 3;te;
}
.box3 {
  position: absolute;
  width: 1100px;
  height: 460px;
  background: url(img/car5.png) no-repeat;
  left: 36px;
  top: 18px;
  z-index: 4;te;
}
.box4 {
  position: absolute;
  width: 1100px;
  height: 460px;
  background: url(img/car6.png) no-repeat;
  left: 62px;
  top: 18px;
  z-index: 4;te;
}
.wheel1 {
  position: absolute;
  background: url(img/wheel1.png) no-repeat;
  left: 92px;
  top: 259px;
  width: 202px;
  height: 202px;
  z-index: 4;
}
.wheel2 {
  position: absolute;
  background: url(img/wheel1.png) no-repeat;
  left: 782px;
  top: 259px;
  width: 202px;
  height: 202px;
  z-index: 4;
}
.figure1 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  position: absolute;
  left: 192px;
  top: 342px;
  width: 0;
  height: 34px;
  z-index: 5;
}
.figure2 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  position: absolute;
  left: 175px;
  top: 359px;
  width: 34px;
  height: 0;
  z-index: 5;
}
.figure3 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  position: absolute;
  left: 881px;
  top: 342px;
  width: 0;
  height: 34px;
  z-index: 5;
}
.figure4 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  position: absolute;
  left: 864px;
  top: 359px;
  width: 34px;
  height: 0;
  z-index: 5;
}
.box0, .box, .box1, .box2, .box3, .box4 {
  animation: trash 1s linear infinite;
  animation-direction: alternate;
}
.figure1, .figure2, .figure3, .figure4, .wheel1, .wheel2 {
  animation: go 1s linear infinite;
}
@keyframes go {
  from {
    transform: rotateZ(-360deg);
  }
}
@keyframes trash {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}